<div class="banner">
  <div class="pull-left">
      <a href="http://software-carpentry.org" title="Software Carpentry">
        <img alt="Software Carpentry banner" src="{{site.swc_site}}/img/software-carpentry-banner.png" />
      </a>
  </div>
  <div class="pull-right">  
      <a id="btn" href="http://www.unic.cnrs-gif.fr" title="Unité de Information, Neurosciences et Complexité">
        <img alt="UNIC logo" src="{{page.root}}/images/unic.jpg" />
      </a>
      <a id="btn" href="http://www.cnrs.fr" title="Centre National de la Recherche Scientifique">
        <img alt="CNRS logo" src="{{page.root}}/images/cnrs.jpg" />
      </a>
      <a id="btn" href="http://www.paris-neuroscience.fr/en" title="École des Neurosciences de Paris Île-de-France (ENP)">
        <img alt="ENP logo" src="{{page.root}}/images/enp.png" />
      </a>
  </div>
</div>

